# ENV: Test
DINGTALK_APP_KEY=replace_test_app_key
DINGTALK_APP_SECRET=replace_test_app_secret
DINGTALK_AGENT_ID=replace_test_agent_id
DINGTALK_USER_ID=Alice:test_user_1,Bob:test_user_2

# ENV: Production
DINGTALK_APP_KEY=replace_prod_app_key
DINGTALK_APP_SECRET=replace_prod_app_secret
DINGTALK_AGENT_ID=replace_prod_agent_id
DINGTALK_USER_ID=Alice:prod_user_1,Bob:prod_user_2
